
/* *,
:after,
:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} */

html, body {margin: 0; height: 100%; overflow: hidden;font-family: 'Roboto', sans-serif;}
.navbar {
    background: #4174c7;
    overflow: hidden;
    padding: 0px 8px;
}

.navbar-brand {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar div {
    float: left;
    margin: auto;
    font-weight: 700;
    color: #fff;
    padding: 1%;
}

.nav-content {
    width: 80%;
    padding: 0 !important;
}

.nav-contact>a {
    background-color: transparent;
    color: #337ab7;
    text-decoration: none;
}

.nav-contact>a:hover,
a:focus {
    color: #23527c;
    text-decoration: underline;
}

.nav-contact>a:active,
a:hover {
    outline: 0;
}

.navbar button {
    float: right;
    background-color: #4174c7;
    color: #fff;
    margin: .8%;
    font-weight: 400;
    border: 1px solid #fff;
}
.navbar button:hover{
    color: black;
    border: 1px solid black;
}

body {
    background: #f2f2f2;
}


.app-title{
    text-align: center;
}

.app-title h1{
    font-size: 24px;    margin-top: 20px;
    margin-bottom: 10px;font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;margin: .67em 0;
}

.app-title h2{
    font-size: 14px;
    font-weight: 300;
    color: #333;
    margin-top: 0;
    margin-bottom: 20px;
}

.estimator{
    padding: 0;
    width: 80%;
    height: 70%;
    margin: auto auto 5%;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 6px 6px 20px -10px #888;
    -webkit-box-shadow: 6px 6px 20px -10px #888;
}

.estimator .row{
    padding-bottom: 12px;
}

.question-title{
    padding-left: 140px;
    padding-top: 20px;
    font-weight: 700;
}

.question1{
    margin-left: 140px;
    margin-top: -10px;
}

.question1>p{
    font-weight: 400;    margin-top: 0px;
    font-size: 20px;
}


.question2{
    margin-left: 140px;font-weight: 500;
}

.question2>p{
    font-weight: 400;    margin-top: 15px;
    font-size: 20px;
}

.formBtn{
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #d0d0d0;
    overflow: auto;
    float: left;
    height: 4em;
    width: 7em;
    font-size: 20px;
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1;
    margin-left: 50px;
    margin-bottom: 20px;font-weight: 300;
}

.formBtn:hover {
    background: #4174c7;
    color: #fff;
}

#question-nav{
    position: relative;
    display: block;
}

#question-nav div{
    vertical-align: middle;
    margin: auto;
    text-align: center;
}

#question-nav .left-button{
    position: absolute;
    background: grey;
    color: #fff;
    bottom: -3px;
    border: #fff;
    padding: .5% 1%;
    font-size: 20px;
    font-weight: 300;
    margin-left: 2%;
}

#question-nav .right-button{
    position: absolute;
    right: 0;
    background: orange;
    color: #fff;
    border: #fff;
    padding: .5% 1%;
    font-size: 20px;
    font-weight: 300;bottom: -3px;
    margin-right: 2%;
    margin-bottom: 0px;
}

.footer {
    overflow: hidden;
    background: #4174c7;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer p {
    margin: auto;
    padding: 4px;
    text-align: center;
    font-weight: 700;
    color: #fff;
}

.footer>p {
    display: block;
    margin-block-start: 1px;
    margin-block-end: 1px;
    margin-inline-start: 1px;
    margin-inline-end: 1px;
}

@media only screen and (max-width: 768px) {

.navbar-brand {
    padding-top: 20px;
    padding-left: 20px;
}

.navbar div {
    float: left;
    margin: auto;
    font-weight: 700;
    color: #fff;
    padding: 1%;
}

.nav-contact {
    float: right;
    width: 100%;
}
.app-title{
    text-align: center;
}

.app-title h1{
    font-size: 24px;    
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: 500;
    line-height: 0.6;
    margin: .67em 0;
}

.app-title h2{
    margin-bottom: 10px;
}

.estimator{
    padding: 0;
    width: 100%;
    height: 65%;
    border-radius: 0px;
}.estimator .row{
    padding-bottom: 12px;
}

.question-title{
    padding-left: 10px;
    padding-top: 10px;
    font-weight: 500;
}

.question1{
    margin-left: 10px;
    margin-top: -10px;
}

.question1>p{
    font-weight: 300;    margin-top: 5px;
    font-size: 20px;
    margin-right: 10px
}


.question2{
    margin-left: 10px;font-weight: 300;
}

.question2>p{
    font-weight:300;    margin-top: 5px;
    margin-right: 10px;
    font-size: 20px;
}

.formBtn{
    border-radius: 3px;
    float: left;
    height: 31px;
    width: 67px;
    font-size: 12px;
    margin-left: 8px;
    margin-bottom: 20px;
    font-weight: 300;white-space: normal;
}

.formBtn:hover {
    background: #4174c7;
    color: #fff;
}

#question-nav{
    position: relative;
    display: block;
}

#question-nav div{
    vertical-align: middle;
    margin: auto;
    text-align: center;
}

#question-nav .left-button{
    font-size: 16px;bottom: -16px;
    margin-left: 6%;
}

#question-nav .right-button{
    font-size: 16px;
    margin-right: 6%;
}

.footer p {
    font-weight: 500;
}

.footer>p {
    margin-block-start: 1px;
    margin-block-end: 1px;
    margin-inline-start: 1px;
    margin-inline-end: 1px;
}
}

@media (min-width: 768px) and (max-width: 1024px) {}@media (min-width: 768px) {}@media (max-width: 767px) {}
@media (max-width: 480px) {
  
    .app-title h1{
        font-size: 22px;    
        line-height: 0.4;
        margin: .60em 0;
    }
    .estimator{
        padding: 0;
        width: 100%;
        height: 65%;
        border-radius: 0px;
    }
    
    .question-title{
        padding-left: 10px;
        padding-top: 10px;
        font-weight: 500;
    }
    
    .question1{
        margin-left: 10px;
        margin-top: -10px;
    }
    
    .question1>p{
        font-weight: 300;    margin-top: 5px;
        font-size: 20px;
        margin-right: 10px
    }
    
    
    .question2{
        margin-left: 10px;font-weight: 300;
    }
    
    .question2>p{
        font-weight:300;    margin-top: 5px;
        margin-right: 10px;
        font-size: 20px;
    }
    
    .formBtn{
        border-radius: 3px;
        float: left;
        height: 31px;
        width: 67px;
        font-size: 12px;
        margin-left: 8px;
        margin-bottom: 20px;
        font-weight: 300;white-space: normal;
    }
    
    .formBtn:hover {
        background: #4174c7;
        color: #fff;
    }
    
    #question-nav{
        position: relative;
        display: block;
    }
    
    #question-nav div{
        vertical-align: middle;
        margin: auto;
        text-align: center;
    }
    
    #question-nav .left-button{
        font-size: 16px;bottom: -16px;
        margin-left: 6%;
    }
    
    #question-nav .right-button{
        font-size: 16px;
        margin-right: 6%;
    }
}