<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link  href="/node_modules/@fortawesome/fontawesome-free/css/fontawesome.css">
  <link href="/node_modules/@fortawesome/fontawesome-free/css/brands.css">
  <link  href="/node_modules/@fortawesome/fontawesome-free/css/solid.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet">
  <title>APPESTIMATOR</title>
</head>

<body>

  <nav class="navbar">
      <div class="nav-content">
          <a class="navbar-brand" href="https://appstirr.com/lp/mobile-app/" target="_blank">
              <img src="../../assets/logo/logo.png" >
          </a>
          <a class="nav-contact" href="https://appstirr.com/lp/mobile-app/" target="_blank"><button
                  class="btn btn-default">Contact Us</button> </a>
      </div>
  </nav>

  <section class="body">
      <div class="container-fluid">
          <div class="app-title">
              <h1 class="headText">App Estimate Calculator</h1>
              <h2 class="baseText">Quickly find out how much your app will cost!</h2>
          </div>
          <div class="estimator">
              <div class="row">
                  <div class="col-12">
                      
                      <h2 class="question-title">Platforms &amp; Devices</h2>
                      <div class="row">
                      <div class="question1 col-12">
                          <p>Which platforms will you need to your app to run on? </p>
                          <button class="formBtn">
                              IOS
                          </button>
                          <button class="formBtn">
                                  Android
                              </button>
                              <button class="formBtn">
                                      Web
                                  </button>
                                  <button class="formBtn">
                                          Not Sure
                                      </button>
                      </div>
                      <div class="question2 col-12">
                              <p>Which devices will your app need to run on? </p>
                              <button class="formBtn">
                                  Phone
                              </button>
                              <button class="formBtn">
                                      Tablet                                  </button>
                                  <button class="formBtn">
                                          Desktop
                                      </button>
                                      <button class="formBtn">
                                          Not Sure        
                                      </button>
                          </div>
                      </div>
                           <hr>
                          <div class="row" id="question-nav">
                              <button class="btn btn-default left-button">
                              <i class="fa fa-arrow-circle-left vertical-align"></i>
                              <span class="vertical-align">&nbsp;Back</span>
                            </button>
                            <div class="table">
                              <div class="cell estimate-container">
                                <div class="estimated-text">Estimated Cost:&nbsp;<span class="estimated-cost">$0</span></div>
                              </div>
                            </div>
                            <button class="btn btn-default right-button">
                              <span class="vertical-align">Next&nbsp;</span>
                              <i class="fa fa-arrow-circle-right vertical-align"></i>
                            </button>
                                </div>
                  </div>
                 
              </div>
              </div>
          </div>
  </section>

  <footer class="footer">
      <p class="copyright">Copyright © APPSTIRR 2019</p>
  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
      <script src="/font-awesome/js/fontawesome.min.js"></script>
</body>

